.blogpage_wrapper {
    width: 100%;
    margin-bottom: 50px;
    .blog_page_title {
        width: 100%;
        padding: 50px 0;
        background-color: #f8f8f8;
        .blogpage_title_h2 {
            font-weight: 300;
            text-align: center;
            letter-spacing: 1px;
        }
    }
}
